@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Quicksand";
    background-color: aquamarine;
}

.sign-in {
    width: 400px;
    padding: 20px ;
    margin : 65px auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.Title {
    text-transform: uppercase;
    padding: 10px;
}

.input-box {
    border-radius: 20px;
    padding: 13px;
    margin: 14px 0;
    width: 92%;
    transition: 0.3s;
    border: solid 1px #999;
    outline: none;
    font-family: "Quicksand";
    font-weight: bold;
}

.btn {
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    margin: 25px 110px;
    width: 130px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: rgb(224, 248, 248);


}.btn:active {
    transform: scale(0.90);
}

.Conditions {
    text-transform: uppercase;
    font-size: 15px;
    margin: 14px 0;
    font-weight: bold;
}

.link {
    font-size: 17px;
    text-decoration: none;
    color: rgb(10, 112, 245);
    font-weight: 500;
}

.link:hover {
    color: rgb(55, 140, 252);
}

.Check-btn {
    cursor: pointer;
}

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; /* Adjust spacing between text and link */
}

.sign-up {
    text-transform: uppercase;
    font-weight: bold;
}

.Regist {
    text-decoration: none;
    font-size: large;
    color: rgb(10, 112, 245);
    font-weight: 500;
}

.Regist:hover {
    color: rgb(55, 140, 252);
}